/practica/Envios/nbproject/private/
/practica/serviciowebenvios/nbproject/private/
/practica/serviciowebenvios/build/
/practica/Envios/build/
/practica/Envios/dist/
/practica/serviciowebenvios/dist/
/codigo/Cooperacha/nbproject/private/
/codigo/cooperachaservicios/nbproject/private/
/codigo/Cooperacha/build/
/codigo/cooperachaservicios/build/
/codigo/Cooperacha/dist/
/codigo/cooperachaservicios/dist/
/practica/banco/nbproject/private/
/practica/banco/build/
/practica/banco/dist/